@font-face{
	font-family: Share Tech Mono;
	src: url(ShareTechMono-Regular.ttf);
	font-weight: bold;
}

html, body{
	color: #0000c3;
	font-family: 'Share Tech Mono', Monospace, Courier;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.1px;
}

div{
	text-align: center;
	padding-top: 15%
}

img{
	max-width: 100%;
	height: auto;
	width: auto\9;
}

a{
	color: #0000c3;
	text-decoration-color: #0000c3;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}